@keyframes example {
  0%   {color: black;}
  25%  {color: rgb(116, 116, 9);}
  50%  {color: rgb(141, 155, 104); }
  100% {color: rgb(248, 252, 248);}
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ML, h2, h3
{
  color: white;
  font-family: Georgia;
  max-width: 70vw;
}

h2
{
  
  animation-name: example;
  animation-duration: 4s;
}

a 
{
  color: blue;
  background: lightgray;
  font-family: Georgia;
}


.github
{
  position: fixed;
  width: 2.5vw;
  height: 5vh;
  top: 94.5vh;
  left: 96.2vw;
  line-height:0%;
  border: 2px solid;
}

.github:hover
{
  cursor: grab;
}


.mypic
{
  width: 10vw;
  height: 30vh;
  position: absolute;
  top: 0vh;
  left: 88.8vw;
  border: 2px solid;
  border-radius: 3px;
  border-color: white;
}

.WebDev, .DataSci
{
  background-color: black;
  color: white;
  border: 1px solid cyan;
  cursor: grab;
}

.WebDev:hover, .DataSci:hover
{
  background-color: grey;
}