@keyframes example {
  0%   {color: black;}
  25%  {color: rgb(116, 116, 9);}
  50%  {color: rgb(141, 155, 104); }
  100% {color: rgb(248, 252, 248);}
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ML, h2, h3
{
  color: white;
  font-family: Georgia;
  max-width: 70vw;
}

h2
{
  
  animation-name: example;
  animation-duration: 4s;
}

a 
{
  color:  rgb(93, 166, 214);
  font-family: Georgia;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}


.github
{
  position: fixed;
  width: 2.5vw;
  height: 5vh;
  top: 94.5vh;
  left: 96.2vw;
  line-height:0%;
  border: 2px solid;
}

.github:hover
{
  cursor: grab;
}


.mypic
{
  width: 10vw;
  height: 30vh;
  position: absolute;
  top: 0vh;
  left: 88.8vw;
  border: 2px solid;
  border-radius: 3px;
  border-color: white;
}

.aita_pic
{
  width: 56vw;
  height: 30vh;
}

.WebDev, .DataSci
{
  background-color: lightgrey;
  color: black;
  border: 1px solid cyan;
  cursor: pointer;
}

.DataSci
{
  margin-left: 2vw;
}

.WebDev:hover, .DataSci:hover
{
  background-color: grey;
}


@keyframes typewriter
{
  0%, 100%
  {
    width: 0%;
  }
  20%, 80%
  {
    width: 42.7em;
  }
}

@keyframes caret
{
  0%, 100%
  {
    opacity: 0;
  }
  50%
  {
    opacity: 1;
  }
}

.below
{
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation: typewriter;
  animation-duration: 20s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}

.below:after
{
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 5s;
  animation-timing-function: steps(1, end);
}